:root {
  --contents-background: #1e1e1e;
  --sidebar-background: #2d2d2d;
  --sidebar-hover: #3b3b3b;
  --main-accent: #5ccc37;
  --font-color: white;
  --font-secondary-color: #cacaca;
  --editor-width: 800px;
  --font-book: 'Neue Montreal Book';
  --font-medium: 'Neue Montreal Medium';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--contents-background);
  font-family: var(--font-book), sans-serif;
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
}

@font-face {
  font-family: 'Neue Montreal Medium';
  src: url('../fonts/ppneuemontreal-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Book';
  src: url('../fonts/ppneuemontreal-book.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Thin';
  src: url('../fonts/ppneuemontreal-thin.otf') format('opentype');
}

input {
  color-scheme: dark;
}

.sidebar {
  margin: 0;
  padding: 18px;
  width: 260px;
  background-color: var(--sidebar-background);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-top,
.sidebar-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.sidebar-top h1,
.sidebar-2 h1 {
  font-size: 1.8rem;
  font-family: var(--font-medium);
  color: var(--main-accent);
}

.sidebar button,
.sidebar-top button {
  background-color: var(--sidebar-background);
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: var(--font-color);
  text-decoration: none;
  padding: 10px;
}

.sidebar a:hover {
  background-color: var(--sidebar-hover);
}

.sidebar a svg {
  margin-right: 8px;
}

#content {
  display: flex;
  margin-left: 260px;
  padding-top: 35px;
  flex-grow: 1;
  justify-content: center;
}

#content-inner {
  display: flex;
  flex-direction: column;
  width: var(--editor-width);
}

.content-div h1 {
  font-family: var(--font-medium);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5rem;
}

#task-button {
  font-family: var(--font-book);
  font-size: 1.5rem;
  background-color: var(--contents-background);
  border: none;
  cursor: pointer;
  width: var(--editor-width);
  text-align: left;
}

#task-button-icon {
  font-weight: 100;
  margin-right: 10px;
  color: var(--main-accent);
}

#task-button-text {
  color: var(--font-secondary-color);
}

#task-form {
  border: solid;
  border-radius: 10px;
  border-color: var(--font-secondary-color);
  padding: 10px;
  color: var(--font-secondary-color);
}

.details {
  padding-bottom: 8px;
}

#task-title,
#task-desc {
  padding: 5px;
  width: 778px;
  border: none;
  outline: none;
  background-color: var(--contents-background);
}

#task-title {
  font-weight: 800;
  font-family: var(--font-medium);
  font-size: 1.5rem;
}

#task-desc {
  font-family: var(--font-book);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 330px;
}

.task-props,
.form-button {
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
}

.properties {
  display: flex;
  gap: 10px;
}

.task-props {
  padding: 5px;
  background-color: transparent;
  border-color: var(--font-secondary-color);
  font-family: var(--font-book);
  color: var(--font-secondary-color);
}

.dropdown-select {
  appearance: none;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

.form-button {
  padding: 8px 15px;
  font-family: var(--font-medium);
  border: none;
  background-color: var(--sidebar-hover);
  color: var(--font-secondary-color);
}

#submit-task {
  background-color: var(--main-accent);
  color: var(--font-color);
}
