:root {
  --contents-background: #1e1e1e;
  --sidebar-background: #2d2d2d;
  --sidebar-hover: #3b3b3b;
  --main-accent: #5ccc37;
  --font-color: white;
  --font-secondary-color: #999999;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--contents-background);
  font-family: 'Neue Montreal Book', sans-serif;
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
}

@font-face {
  font-family: 'Neue Montreal Medium';
  src: url('../fonts/ppneuemontreal-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Book';
  src: url('../fonts/ppneuemontreal-book.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Thin';
  src: url('../fonts/ppneuemontreal-thin.otf') format('opentype');
}

.sidebar {
  margin: 0;
  padding: 10px;
  width: 260px;
  background-color: var(--sidebar-background);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-top,
.sidebar-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.sidebar-top h1,
.sidebar-2 h1 {
  font-size: 1.8rem;
  font-family: 'Neue Montreal Medium';
  color: var(--main-accent);
}

.sidebar button,
.sidebar-top button {
  background-color: var(--sidebar-background);
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: var(--font-color);
  text-decoration: none;
  padding: 10px;
}

.sidebar a:hover {
  background-color: var(--sidebar-hover);
}

.sidebar a svg {
  margin-right: 8px;
}

#content {
  margin-left: 260px;
  padding: 16px;
  flex-grow: 1;
}

.content-div {
  padding: 20px;
}

.content-div h1 {
  font-family: 'Neue Montreal Medium';
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 2.5rem;
}

#task-button {
  font-family: 'Neue Montreal Book';
  font-size: 1.5rem;
  background-color: var(--contents-background);
  border: none;
  padding-left: 20px;
  cursor: pointer;
}

#task-button-icon {
  font-weight: 100;
  margin-right: 10px;
  color: var(--main-accent);
}

#task-button-text {
  color: var(--font-secondary-color);
}
