*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #1e1e1e;
  font-family: 'Neue Montreal Book', sans-serif;
  color: #5ccc37;
  min-height: 100vh;
}

@font-face {
  font-family: 'Neue Montreal Medium';
  src: url('../fonts/ppneuemontreal-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Book';
  src: url('../fonts/ppneuemontreal-book.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Thin';
  src: url('../fonts/ppneuemontreal-thin.otf') format('opentype');
}

.sidebar {
  margin: 0;
  padding: 10px;
  width: 260px;
  background-color: #2d2d2d;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-top,
.sidebar-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.sidebar-top h1,
.sidebar-2 h1 {
  font-size: 1.8rem;
  font-family: 'Neue Montreal Medium';
}

.sidebar button,
.sidebar-top button {
  background-color: #2d2d2d;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.sidebar a.active {
  background-color: #235413;
  color: #5ccc37;
}

.sidebar a:hover:not(.active) {
  background-color: #3b3b3b;
}

.sidebar a svg {
  margin-right: 8px;
}

div > content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100vh;
}
